In [43]:
import pandas as pd
import numpy as np
import seaborn as sns
data = pd.read_csv('hmeq.csv')
cols=['LOAN','MORTDUE','VALUE','YOJ','DEROG','DELINQ','CLAGE','NINQ','CLNO','DEBTINC']
X=data[cols]
data.head()

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,NaN
1,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,NaN
2,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,NaN
3,1,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,NaN

In [44]:
# fully_paid_data = data[data['loan_status'] == 'Fully Paid']
# sample_fully_paid_data = fully_paid_data.sample(n=80000)
# Charged_Off_data = data[data['loan_status'] == 'Charged Off']
# data = pd.concat([Charged_Off_data, sample_fully_paid_data], ignore_index=True)
# data.head()

In [45]:
# import re
# colsX=['loan_amnt','term','int_rate','installment','emp_length','home_ownership','annual_inc','verification_status','pub_rec']
# X=data[colsX]
Y=data['BAD']
# X['term'] = X['term'].str.split(' ').str[1].astype(int)
# def extract_years(year_str):
#     # Convert the input to a string if it's a float
#     if isinstance(year_str, float):
#         year_str = str(year_str)

#     # Regular expression pattern to match numeric parts
#     pattern = r'(\d+)'

#     # Extract numeric part from the string
#     match = re.search(pattern, year_str)
#     if match:
#         return int(match.group())
#     elif '+' in year_str:
#         # For "x+ years", extract x
#         return int(year_str.split('+')[0])
#     elif '<' in year_str:
#         # For "< y years", extract y-1
#         return int(year_str.split('<')[1]) - 1
#     else:
#         return None  # Unable to extract numeric part
# X['emp_length'] = X['emp_length'].apply(extract_years)
# X.head()

In [46]:
# Extracting pincode
# X['pin'] = X['address'].str.extract(r'(\d{5})$')
# X.drop('address', axis=1, inplace=True)

In [47]:
# unique_values = X['pin'].unique()
# unique_values

In [48]:
# unique_values1=X['verification_status'].unique()
# unique_values1

In [49]:
# mapping = {'RENT': 0, 'MORTGAGE': 1, 'OWN': 2, 'OTHER': 3, 'NONE': 4, 'ANY': 5}
# X['home_ownership'] = X['home_ownership'].replace(mapping)

In [50]:
# mapping = {'Not Verified': 0, 'Source Verified': 1, 'Verified': 1}
# X['verification_status'] = X['verification_status'].replace(mapping)

In [51]:
Y.head()

0    1
1    1
2    1
3    1
4    0
Name: BAD, dtype: int64

In [52]:
# mapping = {'Fully Paid': 1, 'Charged Off': 0}
# Y=Y.replace(mapping)
# Y.head().unique()
Y.head()

0    1
1    1
2    1
3    1
4    0
Name: BAD, dtype: int64

In [53]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import xgboost as xgb
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Model Training
xgb_classifier = xgb.XGBClassifier()
xgb_classifier.fit(X_train, y_train)

# Model Evaluation
y_pred = xgb_classifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Deployment (Serialize and save the model if desired)

Accuracy: 0.9295302013422819

In [54]:
import joblib
joblib.dump(xgb_classifier, "xgboost_model.pkl")

['xgboost_model.pkl']

In [55]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Model Training
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid')
])
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(X_train, y_train, epochs=10, batch_size=32, verbose=1)

# Model Evaluation
loss, accuracy = model.evaluate(X_test, y_test, verbose=0)
print("Accuracy:", accuracy)

Epoch 1/10
149/149 [==============================] - 2s 3ms/step - loss: 1.8071 - accuracy: 0.8052
Epoch 2/10
149/149 [==============================] - 1s 3ms/step - loss: 0.5734 - accuracy: 0.8062
Epoch 3/10
149/149 [==============================] - 0s 2ms/step - loss: 0.5330 - accuracy: 0.8062
Epoch 4/10
149/149 [==============================] - 0s 3ms/step - loss: 0.5115 - accuracy: 0.8062
Epoch 5/10
149/149 [==============================] - 0s 3ms/step - loss: 0.5007 - accuracy: 0.8062
Epoch 6/10
149/149 [==============================] - 0s 3ms/step - loss: 0.4956 - accuracy: 0.8062
Epoch 7/10
149/149 [==============================] - 0s 3ms/step - loss: 0.4933 - accuracy: 0.8062
Epoch 8/10
149/149 [==============================] - 0s 3ms/step - loss: 0.4923 - accuracy: 0.8062
Epoch 9/10
149/149 [==============================] - 0s 2ms/step - loss: 0.4919 - accuracy: 0.8062
Epoch 10/10
149/149 [==============================] - 0s 2ms/step - loss: 0.4918 - accuracy: 0.8062
Accuracy: 0.7776845693588257

In [56]:
# Deployment (Save the model if desired)
model.save("ann_model")

INFO:tensorflow:Assets written to: ann_model\assets

INFO:tensorflow:Assets written to: ann_model\assets