In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
data = pd.read_csv('hmeq.csv')
cols=['LOAN','MORTDUE','VALUE','YOJ','DEROG','DELINQ','CLAGE','NINQ','CLNO','DEBTINC']
X=data[cols]
X['LOAN']=80*X['LOAN']
X['MORTDUE']=80*X['MORTDUE']
X['VALUE']=80*X['VALUE']
X.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_51892\137831423.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['LOAN']=80*X['LOAN']
C:\Users\HP\AppData\Local\Temp\ipykernel_51892\137831423.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['MORTDUE']=80*X['MORTDUE']
C:\Users\HP\AppData\Local\Temp\ipykernel_51892\137831423.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['VALUE']=80*X['VALUE']

,LOAN,MORTDUE,VALUE,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,88000,2068800.0,3122000.0,10.5,0.0,0.0,94.366667,1.0,9.0,NaN
1,104000,5604240.0,5472000.0,7.0,0.0,2.0,121.833333,0.0,14.0,NaN
2,120000,1080000.0,1336000.0,4.0,0.0,0.0,149.466667,1.0,10.0,NaN
3,120000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,136000,7824000.0,8960000.0,3.0,0.0,0.0,93.333333,0.0,14.0,NaN

In [3]:
# fully_paid_data = data[data['loan_status'] == 'Fully Paid']
# sample_fully_paid_data = fully_paid_data.sample(n=80000)
# Charged_Off_data = data[data['loan_status'] == 'Charged Off']
# data = pd.concat([Charged_Off_data, sample_fully_paid_data], ignore_index=True)
# data.head()

In [4]:
# import re
# colsX=['loan_amnt','term','int_rate','installment','emp_length','home_ownership','annual_inc','verification_status','pub_rec']
# X=data[colsX]
Y=data['BAD']
# X['term'] = X['term'].str.split(' ').str[1].astype(int)
# def extract_years(year_str):
#     # Convert the input to a string if it's a float
#     if isinstance(year_str, float):
#         year_str = str(year_str)

#     # Regular expression pattern to match numeric parts
#     pattern = r'(\d+)'

#     # Extract numeric part from the string
#     match = re.search(pattern, year_str)
#     if match:
#         return int(match.group())
#     elif '+' in year_str:
#         # For "x+ years", extract x
#         return int(year_str.split('+')[0])
#     elif '<' in year_str:
#         # For "< y years", extract y-1
#         return int(year_str.split('<')[1]) - 1
#     else:
#         return None  # Unable to extract numeric part
# X['emp_length'] = X['emp_length'].apply(extract_years)
# X.head()

In [5]:
# Extracting pincode
# X['pin'] = X['address'].str.extract(r'(\d{5})$')
# X.drop('address', axis=1, inplace=True)

In [6]:
# unique_values = X['pin'].unique()
# unique_values

In [7]:
# unique_values1=X['verification_status'].unique()
# unique_values1

In [8]:
# mapping = {'RENT': 0, 'MORTGAGE': 1, 'OWN': 2, 'OTHER': 3, 'NONE': 4, 'ANY': 5}
# X['home_ownership'] = X['home_ownership'].replace(mapping)

In [9]:
# mapping = {'Not Verified': 0, 'Source Verified': 1, 'Verified': 1}
# X['verification_status'] = X['verification_status'].replace(mapping)

In [10]:
Y.head()

0    1
1    1
2    1
3    1
4    0
Name: BAD, dtype: int64

In [11]:
# mapping = {'Fully Paid': 1, 'Charged Off': 0}
# Y=Y.replace(mapping)
# Y.head().unique()
Y.head()

0    1
1    1
2    1
3    1
4    0
Name: BAD, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import xgboost as xgb
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Model Training
xgb_classifier = xgb.XGBClassifier()
xgb_classifier.fit(X_train, y_train)

# Model Evaluation
y_pred = xgb_classifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Deployment (Serialize and save the model if desired)

Accuracy: 0.9295302013422819

In [13]:
import joblib
joblib.dump(xgb_classifier, "xgboost_model.pkl")

['xgboost_model.pkl']

In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Model Training
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid')
])
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(X_train, y_train, epochs=10, batch_size=32, verbose=1)

# Model Evaluation
loss, accuracy = model.evaluate(X_test, y_test, verbose=0)
print("Accuracy:", accuracy)

WARNING:tensorflow:From c:\Users\HP\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

WARNING:tensorflow:From c:\Users\HP\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\HP\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Epoch 1/10
WARNING:tensorflow:From c:\Users\HP\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\HP\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

149/149 [==============================] - 2s 2ms/step - loss: 1260.9657 - accuracy: 0.8024
Epoch 2/10
149/149 [==============================] - 0s 2ms/step - loss: 0.6338 - accuracy: 0.8062
Epoch 3/10
149/149 [==============================] - 0s 2ms/step - loss: 0.6033 - accuracy: 0.8062
Epoch 4/10
149/149 [==============================] - 0s 2ms/step - loss: 0.5786 - accuracy: 0.8062
Epoch 5/10
149/149 [==============================] - 0s 2ms/step - loss: 0.5587 - accuracy: 0.8062
Epoch 6/10
149/149 [==============================] - 0s 2ms/step - loss: 0.5429 - accuracy: 0.8062
Epoch 7/10
149/149 [==============================] - 0s 2ms/step - loss: 0.5304 - accuracy: 0.8062
Epoch 8/10
149/149 [==============================] - 0s 2ms/step - loss: 0.5206 - accuracy: 0.8062
Epoch 9/10
149/149 [==============================] - 0s 2ms/step - loss: 0.5131 - accuracy: 0.8062
Epoch 10/10
149/149 [==============================] - 0s 2ms/step - loss: 0.5073 - accuracy: 0.8062
Accuracy: 0.7776845693588257

In [15]:
# Deployment (Save the model if desired)
model.save("ann_model")

INFO:tensorflow:Assets written to: ann_model\assets

INFO:tensorflow:Assets written to: ann_model\assets